@model List<NavModel>
<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @foreach(var item in Model)
                {     
                    @if (item.IsHidden != true)
                    {
                            <li class="nav-item m-2 @(item.IsActive == true ? "active": "")">
                                @item.Text
                            </li>
                    }                        
                }
            </ul>
        </div>
    </div>
</nav>
</div>