@model GridViewModel<object>

<table class="@Model.StyleHeader">
    <thead>
        <tr>
            @foreach (var item in Model.Columns)
            {
                <th scope="col">@item</th> 
            }
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model.Data)
        {
            <tr>
                @if (item != null)
                {
                    var properties = item.GetType().GetProperties();
                    @foreach(var property in properties)
                    {
                        <td>@property.GetValue(item)</td>
                    }
                }
            </tr>
        }        
    </tbody>
</table>