@model PageCustomerNewModel

@await Component.InvokeAsync(typeof(NavViewComponent), Model.navModels);
<div class="container">   
        @await Component.InvokeAsync(typeof(CustomerViewComponent), Model.customer)
</div>

